

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu:wght@300&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 22px;
    text-align: center;
  }
  
#background {
      height: 725px;
  }

.home-title {
    font-family: Koulen, 'Helvetica';
    font-size: 2em;
}

.msg {
    background-color: #F15A24;
    line-height: 1.5em;
  }

body {
    background-color: #00A99D; 
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color:#E1E1E1;
}
nav a:hover {
    background-color: #F15A24;
    color: #E1E1E1;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%
}

nav a {
    text-align: center;
    color: #00A99D;
    text-decoration: none;
    padding: 40px;
}

.book, .join {
    background-color: #E1E1E1;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #00A99D;
}
main section img {
    box-sizing: border-box;
}
    
